$black : #1b2a38;
$dark_black: #030f1c;
$blue: #699be5;
$white : #EAE8E8;
$grey: #f1f1f1;
$dark_grey: #708090;
$brown: #828282;
$red: #FF7F7F;
$box_shadow: 0 2px 2px 0 rgba(8,8,8, 0.14),0 3px 1px -2px rgba(8,8,8, 0.12), 0 1px 5px 0 rgba(8,8,8, 0.2);
$webkit_shadow: 0 2px 2px 0 rgba(8,8,8, 0.14), 0 3px 1px -2px rgba(8,8,8, 0.12), 0 1px 5px 0 rgba(8,8,8, 0.2);
::-webkit-scrollbar {
    width: 2px;
    height: 2px;  
    margin: 2px;
}
::-webkit-scrollbar-track {
    background: $black;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: $white;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
.admin_sidebar{
    background-color: $black;
    height: 100%;
}
.admin_body{
    background-color: $dark_black;
}
.h_100{
    height: 100vh;
}
.overflow{
    overflow-y: auto;
    overflow-x: auto;
}
.no_overflow{
    overflow-x: none;
}
.border_bottom{
    border-bottom: 1px solid $white
}
.no_link_style{
    text-decoration: none !important;
}
ul{
    li{
        list-style-type: none;
        color: $white;
        font-size: 0.9em;
        font-weight: bold;
        cursor: pointer;
        .sidebar_icon{
            color: $white;
        }
    }
    i{
        font-size: 1.4em !important;
    }
    li:hover{
        background-color: $dark_black;
        border-left: 2px solid $brown
    }
}
.red{
    background-color: red;
}
.active{
    background-color: $dark_black;
    border-left: 3px solid $brown
}
.border_radius{
    border-radius: 5px;
}
.rate_btn{
    font-size: 1.6em;
    border: transparent;
    display: block;
    background-color: transparent;
    padding: 0px !important;
}
.font_sm{
    font-size: 0.7em;
    color: $white;
}
.upload_box{
    color: $white;
    height: 200px;
    background: $black;
    border-radius: 5px;
    cursor: pointer;
    i{
        font-size: 2.2em
    }
}
.admin_form {
    textarea{
        background-color: $black;
        border-radius: 5px;
        padding: 5px;
        padding-left: 7px;
        margin: 5px;
        border: transparent;
        outline: none;
        height: 150px;
        color: $white;
        font-size: 0.8em;
    }
    select{
        background-color: $black;
        border-radius: 5px;
        padding: 5px;
        padding-left: 7px;
        margin: 5px;
        border: transparent;
        height: 40px;
        outline: none;
        color: $white;
        font-size: 0.9em;
    }
    option{ color: $white;
    font-size: 0.8em}
    input{
        background-color: $black;
        border-radius: 5px;
        padding: 5px;
        padding-left: 7px;
        margin: 5px;
        border: transparent;
        height: 40px;
        outline: none;
        color: $white;
        font-size: 0.8em;
    }
    input::placeholder{
        font-size: 0.7em;
    }
    button{
        background: $blue;
        color: $white;
        font-size: 0.8em;
        width: 120px;
    }
    button:hover{
        color: $white
    }
}
.hide{ display: none;}
.title{
    color: $white;
    font-size: 1.3em;
    font-weight: bold;
}
.admin_nav_bar{
    background-color: $black;
    z-index: 3;
    top: 0;
    height: 55px;
}
.box_shadow {
    box-shadow: $box_shadow;
    -webkit-box-shadow: $webkit_shadow;
}
.route_body{
    height: calc(100vh - 55px)
}
.border_radius_circle{
    border-radius: 50%;
}
.trans_btn{
    border: transparent;
    background: transparent;
    outline: none !important;
    color: $white;
    font-size: 1.2em;
}
.small_icon{
    font-size: 0.7em;
}
.trans_btn:hover{
    color: $dark_grey
}
.movie{
    width: 200px;
    .percent_rated{
        font-size: 0.7em;
        color: $white;
    }
    .movie_name{
        font-size: 0.9em;
        color: $white;
        font-weight: bold;
    }
    .action_icon{
        display: none;
    }
    .video_cont{
        width: 200px;
        height: 200px;
        display: none;
        cursor: pointer;
       
    }
    .img_cont{
        width: 200px;
        height: 200px;
        cursor: pointer;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mdi-star {
        font-size: 0.5em;
    }
    .views {
        font-size: 0.6em;
    }
}
.movie:hover{
    .img_cont{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:inset 0 0 0 2000px  rgba(0,0,0, 0.12);
    }
    .action_icon{
        display: block;
    }
}
.white_text{
    color: $white;
}
.sub_heading{
    color: $white;
    font-size: 1em;
    font-weight: bold;
}
.view_btn:hover{
    background: $white;
}
.white_btn {
    background-color: $white;
    color: $black;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    i {
        font-size: 1.5em;
    }
}
.movie_page{
    height: 100%;
}
.movie_half{
    height: 40vh;
    width: 100%;
}
.movie_display{
    width: 100%;
    .container{
        max-height: 60%;
    }
    .title_view{
        color: $white;
        font-size: 1.3em;
    }
}
.movie_description{
    color: $white;
    font-size: 0.9em;
}
.timeline_movie:hover{
    .img{
        box-shadow:inset 0 0 0 2000px  rgba(0,0,0, 0.12);
    }
    .action_icon{
        display: block !important;
    }
}
.timeline_movie{
    box-shadow: $box_shadow;
    -webkit-box-shadow: $webkit_shadow;
    border-radius: 10px;
    cursor: pointer;
    color: $white;
    background-color: $black;
    .img{
        background: url('/img/mockingjay.jpeg');
        top: 0;
        bottom: 0; 
        overflow: hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;;
        height: 170px;
        min-width: 200px;
        border-radius: 7px;
        background-color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        .action_icon{
            display: none;
        }
    }
    .movie_title{
        font-size: 1.2em;
        font-weight: bold;
        overflow: hidden;
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .movie_description{
        font-size: 0.75em;
        color: $dark_grey;
        word-wrap: break-word;
        padding: 3px;
        font-size: 14px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        max-height: 300px !important;
    }
}
.relative{
    position: relative;
    .absolute_bottom{
        position: absolute;
        bottom: 0;
    }
}
.add_box{
    background-color: $black;
    color: $white;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
    height: 200px;
    font-size: 50px;
    font-weight: bold;
}
.movie_cover{
    height: 70vh;
    background-color: $black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px  rgba(0,0,0, 0.7);
    img{
        height: 75%;
    }
    .movie_preview_text{
        min-height: 75%;
        color: $white;
        overflow-y: auto !important;
        .cast{
            color: $dark_grey;
            font-size: 0.9em;
        }
        .desc{
            font-size: 0.9em
        }
    }
}
.large_title{
    font-size: 35px;
    color: $white;
    font-weight: bold;
}
.small{
    color: $red
}
.md_text{
    font-size: 1.5em;
    font-weight: bold;
    color: $white
}